*/keys.json
*private_key.txt
packages/fetchai/
packages/open_aea/
packages/valory/skills
packages/valory/connections
packages/valory/contracts
packages/valory/protocols

*test_mech.py

.idea
**/__pycache__/
*.DS_Store

.mypy_cache
/.tox/

.env
.1env
.agentenv
keys.json
leak_report

agent/
backup_mech/
/pip
/tool_test.py
.venv
log
.benchmark-cache
mech/
mech_service/
